.dropdown
{
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
	position: relative;
	width: 110px;
	height: 50px !important;
	padding: 0 20px 0 26px;
	border-radius: var(--main-border-radius);
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
	fill: rgba(255, 255, 255, 0.75);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-shrink: 0;
	pointer-events: all;

	&:not(.open) { cursor: pointer; }

	@media (min-width: 768px)
	{
		&:not(.open)
		{
			transition: all 0.2s, transform 0.4s linear(0, 0.01 1%, 0.037 2%, 0.084 3.1%, 0.152 4.3%, 0.309 6.5%, 0.773 12.3%, 0.898 14.1%, 0.998 15.8%, 1.079 17.5%, 1.137 19.1%, 1.181 20.8%, 1.208 22.6%, 1.217 24.9%, 1.201 27.5%, 1.167 30.1%, 1.058 36.4%, 1.01 39.6%, 0.975 43.1%, 0.956 46.7%, 0.956 52.1%, 0.997 63.9%, 1.009 70.6%, 1);
			will-change: transform;

			&:hover
			{
				transform: scale(1.05);
				transition: all 0.2s, transform 0.2s cubic-bezier(0, 0.6, 0.3, 1);
			}

			&:active
			{
				transform: scale(0.6);
				transition: all 0.2s, transform 2s cubic-bezier(0, 0.6, 0.3, 1);
			}
		}
	}

	& > p
	{
		width: fit-content;
		height: fit-content;
		color: rgba(255, 255, 255, 0.75);
	}

	&:disabled
	{
		background-color: rgba(255, 255, 255, 0.05);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.1);
		fill: rgba(255, 255, 255, 0.25);
		pointer-events: none;

		& > p { color: rgba(255, 255, 255, 0.25); }
	}

	&:hover:not(.open)
	{
		background-color: rgba(255, 255, 255, 0.35);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.35);
		fill: rgba(255, 255, 255, 0.9);

		& > p { color: rgba(255, 255, 255, 0.9); }
	}

	&:active:not(.open)
	{
		background-color: rgba(255, 255, 255, 0.05);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
		fill: rgba(255, 255, 255, 0.35);

		& > p { color: rgba(255, 255, 255, 0.35); }
	}

	&.open
	{
		& > .options
		{
			height: 300px;
			z-index: 11;
			opacity: 1;
			pointer-events: all;

			& > .option { pointer-events: all; }
		}

		&::before
		{
			background-color: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(calc(var(--blur-bg) * 0.15));
			pointer-events: all;
		}

		& > svg { transform: rotateZ(180deg); }
	}

	& .options
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: fit-content;
		height: 0;
		max-height: fit-content;
		padding: 4px;
		border-radius: var(--main-border-radius);
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 8px 64px 0 rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(var(--blur-bg));
		opacity: 0;
		pointer-events: none;
		cursor: default;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
		overflow: clip;
		transition: all 0.2s, height 0.5s cubic-bezier(0, 0.5, 0, 1);

		@media (min-width: 768px)
		{
			animation: dropdown-open-scrollbar 0.2s ease-in-out;
		}

		@media (max-width: 768px)
		{
			transition: all 0.2s, height 0s;
		}

		@keyframes dropdown-open-scrollbar
		{
			99% { overflow: clip; }
			100% { overflow: clip auto; }
		}

		& > .option
		{
			width: 100%;
			height: 36px;
			line-height: 36px;
			padding: 0 12px;
			color: rgba(255, 255, 255, 0.75);
			border-radius: 12px;
			text-align: center;
			cursor: pointer;

			&.current
			{
				background-color: rgba(0, 0, 0, 0.15);
				color: rgba(255, 255, 255, 0.9);
				border: 1px solid rgba(255, 255, 255, 0.25);
			}

			&:hover
			{
				background-color: rgba(255, 255, 255, 0.35);
				color: rgba(255, 255, 255, 0.9);

				&.current { border: 1px solid transparent; }
			}

			&:active
			{
				background-color: rgba(255, 255, 255, 0.05);
				color: rgba(255, 255, 255, 0.35);
			}
		}
	}
}