.button
{
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
	width: fit-content;
	height: 50px !important;
	padding: 0 26px;
	border-radius: var(--main-border-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-shrink: 0;
	pointer-events: all;
	cursor: pointer;

	@media (min-width: 768px)
	{
		transition: all 0.2s, transform 0.4s linear(0, 0.01 1%, 0.037 2%, 0.084 3.1%, 0.152 4.3%, 0.309 6.5%, 0.773 12.3%, 0.898 14.1%, 0.998 15.8%, 1.079 17.5%, 1.137 19.1%, 1.181 20.8%, 1.208 22.6%, 1.217 24.9%, 1.201 27.5%, 1.167 30.1%, 1.058 36.4%, 1.01 39.6%, 0.975 43.1%, 0.956 46.7%, 0.956 52.1%, 0.997 63.9%, 1.009 70.6%, 1);
		will-change: transform;

		@media (prefers-reduced-motion) { transform: none !important; }

		&:hover
		{
			transform: scale(1.05);
			transition: all 0.2s, transform 0.2s cubic-bezier(0, 0.6, 0.3, 1);
		}

		&:active
		{
			transform: scale(0.6);
			transition: all 0.2s, transform 2s cubic-bezier(0, 0.6, 0.3, 1);
		}
	}

	&:disabled
	{
		background: rgba(255, 255, 255, 0.05);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.1);
		color: rgba(255, 255, 255, 0.25);
		fill: rgba(255, 255, 255, 0.25);
		pointer-events: none;
	}
}

.primaryButton
{
	border: 2px solid transparent;
	background: var(--clr-accent);
	box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
	color: rgba(255, 255, 255, 0.9);
	fill: rgba(255, 255, 255, 0.9);

	&::before
	{
		content: '';
		position: absolute;
		inset: -2px;
		border-radius: inherit;
		background: radial-gradient(circle at center,
			color-mix(in srgb, var(--clr-accent), white 75%),
			color-mix(in srgb, var(--clr-accent), white 50%));
		opacity: 0;
		z-index: -1;
	}

	&:hover
	{
		color: rgba(0, 0, 0, 0.65);
		box-shadow: 0 8px 64px 0 color-mix(in srgb, var(--clr-accent) 75%, white 20%);
		fill: rgba(0, 0, 0, 0.65);
		z-index: 1;

		&::before { opacity: 1; }
	}

	&:active
	{
		background: color-mix(in srgb, var(--clr-accent), black 50%);
		color: color-mix(in srgb, var(--clr-accent), white 50%);
		border: 2px solid color-mix(in srgb, var(--clr-accent), white 50%);
		box-shadow: 0 8px 64px 0 color-mix(in srgb, var(--clr-accent) 25%, transparent);
		fill: color-mix(in srgb, var(--clr-accent), white 50%);

		&::before { opacity: 0; }
	}
}

.secondaryButton
{
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
	color: rgba(255, 255, 255, 0.75);
	fill: rgba(255, 255, 255, 0.75);

	&:hover
	{
		background: rgba(255, 255, 255, 0.35);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.35);
		color: rgba(255, 255, 255, 0.9);
		fill: rgba(255, 255, 255, 0.9);
	}

	&:active
	{
		background: rgba(255, 255, 255, 0.05);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
		color: rgba(255, 255, 255, 0.35);
		fill: rgba(255, 255, 255, 0.35);
	}
}

.secondaryButtonDestructive
{
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
	color: rgba(255, 89, 89, 0.75);
	fill: rgba(255, 89, 89, 0.75);

	&:hover
	{
		background: rgba(255, 89, 89, 0.75);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.35);
		color: rgba(255, 255, 255, 0.9);
		fill: rgba(255, 255, 255, 0.9);
	}

	&:active
	{
		background: rgba(255, 89, 89, 0.15);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
		color: rgba(255, 89, 89, 0.35);
		fill: rgba(255, 89, 89, 0.35);
	}
}

.squareButton { width: 50px; padding: 0; }