.button
{
	appearance: none;
	outline: none;
	width: fit-content;
	height: 50px !important;
	padding: 0 26px;
	border: 2px solid transparent;
	border-radius: var(--main-border-radius);
	background: var(--clr-accent);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
	pointer-events: all;
	cursor: pointer;

	&::before
	{
		content: '';
		position: absolute;
		inset: -2px;
		border-radius: inherit;
		background: radial-gradient(circle at center,
			color-mix(in srgb, var(--clr-accent), white 75%),
			color-mix(in srgb, var(--clr-accent), white 50%));
		opacity: 0;
		z-index: -1;
	}

	&:hover
	{
		color: rgba(0, 0, 0, 0.65);
		box-shadow: 0 8px 64px 0 color-mix(in srgb, var(--clr-accent) 75%, white 20%);
		z-index: 1;

		&::before { opacity: 1; }

		svg { fill: rgba(0, 0, 0, 0.65); }
	}

	&:active
	{
		background: color-mix(in srgb, var(--clr-accent), black 50%);
		color: color-mix(in srgb, var(--clr-accent), white 50%);
		border: 2px solid color-mix(in srgb, var(--clr-accent), white 50%);
		box-shadow: 0 8px 64px 0 color-mix(in srgb, var(--clr-accent) 25%, transparent);

		&::before { opacity: 0; }

		svg { fill: color-mix(in srgb, var(--clr-accent), white 50%); }
	}
}

.squareButton { width: 50px; padding: 0; }