.uploadedImageItem
{
	width: 100%;
	height: 70px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	background: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: calc(var(--main-border-radius) + 10px);
	pointer-events: all;

	& .textsContainer
	{
		width: 50px; // any small value
		height: fit-content;
		padding-left: 6px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
		flex-shrink: 1;
		flex-grow: 1;
		text-align: left;

		& .title
		{
			width: 100%;
			color: rgba(255, 255, 255, 0.75);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.info { color: rgba(255, 255, 255, 0.35); }
	}

	& .buttonsContainer
	{
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		flex-shrink: 0;
		flex-grow: 0;
		gap: 8px;
	}

	@media (max-width: 768px)
	{
		height: 124px;
		align-items: flex-start;
		gap: 4px;

		& .textsContainer { width: 100%; }
	}
}