.modalWindow
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	backdrop-filter: blur(0px);
	opacity: 0;
	pointer-events: none;
	cursor: default;
	z-index: 10;
	visibility: hidden;

	.container
	{
		width: 600px;
		height: fit-content;
		padding: 30px 10px 40px;
		border-radius: 66px;
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.15);
		fill: rgba(255, 255, 255, 0.75);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		flex-shrink: 0;
		z-index: 11;
		overflow: hidden;

		& > h1
		{
			width: fit-content;
			height: fit-content;
			margin-bottom: 8px;
			font-size: 36px;
			line-height: 120%;
			white-space: pre-wrap;

			@media (max-width: 768px)
			{
				margin-bottom: 12px;
				font-size: clamp(28px, calc(3 * 2vw), 36px);
			}
		}

		.childrenContainer
		{
			width: fit-content;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			margin-bottom: 16px;
		}

		.buttons
		{
			width: fit-content;
			height: fit-content;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}

		&::-webkit-scrollbar { width: 7px; }
		&::-webkit-scrollbar-track { background: transparent; }
		&::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.35); border-radius: 3.5px; }
		&::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.5); }
		&::-webkit-scrollbar-button:start:increment { height: var(--main-border-radius); }
		&::-webkit-scrollbar-button:end:increment { height: var(--main-border-radius); }
	}
}